/* base16 runtimeterror
 */

:root {
	--base00: #181818;  /* bg */
	--base01: #282828;  /* off-bg */
	--base02: #383838;  /* inner-bg */
	--base03: #585858;  /* muted */
	--base04: #abaaaa;  /* off-fg */
	--base05: #d8d8d8;  /* fg */
	--base06: #cfcfcf;  /* code */
	--base07: #5f8700;  /* user prompt */
	--base08: #ab4642;  /* root prompt */
	--base09: #dc9656;
	--base0A: #f7ca88;  /* highlight */
	--base0B: #772a28;  /* logo */
	--base0C: #ab2321;  /* hover */
	--base0D: #c45a5a;  /* link */
	--base0E: #ba8baf;
	--base0F: #a16946;
}
