{{ define "main" }}
{{- $ageDays := div (sub now.Unix .Date.Unix) 86400 -}}
    <header class="content__header">
      <div class="frontmatter">
        <hr>
        <table class="frontmatter">
          <tr><td class="label">title:</td><td class="title">{{ .Title | markdownify }}</td></tr>
          {{- if .Params.date }}
            {{- $postDate := .Date.Format "2006-01-02" }}
            {{- $updateDate := .Lastmod.Format "2006-01-02" }}
            <tr><td class="label">posted:</td><td class="content">{{ $postDate }}</td></tr>
            {{- if ne $postDate $updateDate }}
              <tr><td class="label">updated:</td><td class="content">{{ $updateDate }}</td></tr>
            {{ end }}
          {{ end }}
          {{- with .Params.tags }}{{- $tagCount := len . }}
            <tr class="frontmatter_tags"><td>tags:</td><td>{{- if gt $tagCount 5 }}<details><summary>See all {{ $tagCount }} tags...</summary>{{- end }}[&quot;<a href="/tags">all</a>&quot; {{- range . }}{{- $tag := urlize . }}{{ if $tag }}, {{ end }}&quot;<a href='{{ absLangURL (printf "tags/%s" $tag) }}'>{{ . }}</a>&quot;{{- end }}]{{- if gt $tagCount 5 }}</details>{{- end }}</td></tr>
          {{- end }}
        </table>
        <hr>
      </div>
    </header>
    {{- with .Param "lastmod" -}}
      {{- $ageDays = div (sub now.Unix .Unix) 86400 -}}
    {{- end -}}
    {{- if and (gt $ageDays 365) (not .Params.timeless) -}}
    <br>
    <div class="notice note">
      <p class="first notice-title"><span class="icon-notice baseline"><svg><use href="#note-notice"></use></svg></span>Technology keeps moving but this post has not.</p>
      What you're about to read hasn't been updated in more than a year. The information may be out of date. Let me know if you see anything that needs fixing.
    </div>
    {{- end -}}
    <div class="content__body">
        {{ .Content }}
    </div>
    {{- $reply := true }}
    {{- if eq .Site.Params.reply false }}
      {{- $reply = false }}
    {{- else if eq .Params.reply false }}
      {{- $reply = false }}
    {{- end }}
    {{- if eq $reply true }}
    <hr>
    <span class="post_kudos"><button class="kudos" data-cabin-event="kudos">👍</button>Enjoyed this?</span>
    <span class="post_email_reply"><a href="mailto:wheel.east.brief@clkdmail.com?Subject=Re: {{ .Title }}">📧 Reply by email</a></span>
    {{- end }}
  <footer class="content__footer"></footer>
{{ end }}
