{{ $pages := .Pages }}
{{ if .IsHome }}
  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}
<header class="content__header">
{{ if .IsHome }}
  <h1>{{ site.Params.indexTitle | markdownify }}</h1>
{{ else }}
  <h1>{{ .Title | markdownify }}</h1>
{{ end }}
  {{ .Content }}
</header>

{{ range $pages }}
<article class="post">
  <header class="post__header">
      <h1><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
      <p class="post__meta">
          <span class="date">{{ .Date.Format "2 January 2006" }}</span>
      </p>
  </header>

  <section class="post__summary">
      {{ .Summary }}
  </section>
  <br>
</article>
{{ end }}