{{ if .Params.description }}<p>{{ .Params.description }}</p><hr>{{ end }}
{{ if and (gt .WordCount 400 ) (gt (len .TableOfContents) 180) }}
<p>
  <h3>On this page</h3>
  {{ .TableOfContents }}
  <hr>
</p>
{{ end }}

{{ if isset .Params "categories" }}
{{$related := where .Site.RegularPages ".Params.categories" "eq" .Params.categories }}
{{- $relatedLimit := default 8 .Site.Params.numberOfRelatedPosts }}
<h3>More {{ .Params.categories }}</h3>
<ul>
  {{- range first $relatedLimit $related }}
  <li>
    <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
  {{ if gt (len $related) $relatedLimit }}
    <li>
      <a href="/categories/{{ lower .Params.categories }}/"><i>See all {{ .Params.categories }}</i></a>
    </li>
  {{ end }}
</ul>
<hr>
{{ end }}

{{- $posts := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- $featured := default 8 .Site.Params.numberOfFeaturedPosts }}
{{- $featuredPosts := first $featured (where $posts "Params.featured" true)}}
{{- with $featuredPosts }}
<h3>Featured Posts</h3>
<ul>
  {{- range . }}
  <li>
    <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | markdownify }}</a>
  </li>
  {{- end }}
</ul>
{{- end }}
<hr>
<h3>status.lol</h3>
<script src="https://status.lol/jbowdre.js?time&link&fluent&pretty"></script>
{{- if eq .Site.Params.analytics true }}
<hr>
<h3>Webring</h3>
<a href="" target="_blank" class="tinylytics_webring">🕸️<img class="tinylytics_webring_avatar" src="" style="display: none"/>💍</a>
{{- end }}