{{ if .Site.Params.giscusRepo }}
<br>
<div class="post_comments">
  <script src="https://giscus.runtimeterror.dev/client.js"
  data-repo="{{ .Site.Params.giscusRepo }}"
  data-repo-id="{{ .Site.Params.giscusRepoId }}"
  data-category="{{ .Site.Params.giscusCategory }}"
  data-category-id="{{ .Site.Params.giscusCategoryId }}"
  data-mapping="{{ .Site.Params.giscusMapping }}"
  data-strict="{{ .Site.Params.giscusStrict }}"
  data-reactions-enabled="{{ .Site.Params.giscusReactions }}"
  data-emit-metadata="{{ .Site.Params.giscusEmitMetadata }}"
  data-input-position="{{ .Site.Params.giscusInputPosition }}"
  data-theme="{{ .Site.Params.giscusTheme }}"
  data-lang="{{ .Site.Params.giscusLang }}"
  data-loading="{{ .Site.Params.giscusLoading }}"
  crossorigin="{{ .Site.Params.giscusCrossOrigin }}"
  async>
  </script>
</div>
{{ end }}