<script>
  window.store = {
    {{ range where .Site.Pages "Section" "posts" }}
    "{{ .Permalink }}": {
      "title": "{{ .Title }}",
      "tags": [{{ range .Params.Tags }}"{{ . }}",{{ end }}],
      "content": {{ .Content | plainify }},
      "description": {{ .Description | plainify }},
      "url": "{{ .Permalink }}"
    },
    {{ end }}
  }
</script>
{{ $jsLunr := resources.Get "js/lunr.js" | minify }}
<script src="{{ $jsLunr.RelPermalink }}"></script>
{{ $jsSearch := resources.Get "js/search.js" | minify }}
<script src="{{ $jsSearch.RelPermalink }}"></script>