{{ with . }}
<meta name="taglines" content="{{ .taglines | jsonify }}" />
{{ end }}
<script language="Javascript" type="text/javascript">
  var taglines = JSON.parse(document.getElementsByTagName("meta")["taglines"].content);
  function getTagline() {
    const randIndex = Math.floor(Math.random() * taglines.length);
    const element = document.getElementById("tagline");
    element.innerHTML = taglines[randIndex];
    typo(element, element.innerHTML);
  }
  window.addEventListener("pageshow", getTagline);
</script>
<div id="tagline_container"><i id="tagline" data-typo-chance="2" data-typing-delay="40" data-typing-jitter="20"></i></div>
